<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="css/element-ui-2.3.6.css"/>
	

	<script src="bower_components/axios/dist/axios.js"></script>
	<!-- 引入Vue -->
	<script src="bower_components/vue/dist/vue.js" type="text/javascript"></script>

	<!-- 引入组件库 -->
	<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
	<script src="js/element-ui-2.3.6.js"></script>
	<script src="js/tools.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/config.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="https://cdn.bootcss.com/babel-polyfill/6.26.0/polyfill.js"></script>
	<style>
		.el-col button.button_active {
			color: #909399;
			text-decoration: underline;
		}
	</style>
</head>

<body>
	<div id="app" style="width: 1000px;">
		<el-row :gutter="20" style="margin: 15px;">
			<el-col :span="9">
				<el-input v-model="keyword" @input="keyChange" placeholder="请输入操作人、动作、对象Id、备注等关键字进行搜索"></el-input>
			</el-col>
			<el-col :span="11" :offset="1">
				<el-button @click="search(30)" :class=" elTopBtn == 30 ? 'button_active' : ''" type="text">一个月内</el-button>
				<span>|</span>
				<el-button @click="search(7-1)" :class=" elTopBtn == 6 ? 'button_active' : ''" type="text">一周内</el-button>
				<span>|</span>
				<el-button @click="search(3-1)" :class=" elTopBtn == 2 ? 'button_active' : ''" type="text">近三天</el-button>
				<span>|</span>
				<el-button @click="search(1)" :class=" elTopBtn == 1 ? 'button_active' : ''" type="text">昨天</el-button>
				<span>|</span>
				<el-button @click="search(0)" :class=" elTopBtn == 0 ? 'button_active' : ''" type="text">今天</el-button>
				<span>|</span>
				<el-button @click="dialogFormVisible = true" :class=" elTopBtn == 5 ? 'button_active' : ''" type="text">自定义 {{showDate()}}</el-button>
			</el-col>
			<el-col :span="3">
				<el-button style="margin-left: -10px;" icon="el-icon-delete" @click="exportData()">导出到Excel</el-button>
			</el-col>
		</el-row>
		<el-row>
			<div>
				<el-table :data="tableData" stripe border style="width: 100%">
					<el-table-column prop="CreateTime" label="日期" width="160">
					</el-table-column>
					<el-table-column prop="UserPhone" label="操作人(手机号)" width="165">
					</el-table-column>
					<el-table-column prop="Action" label="动作" width="130">
					</el-table-column>
					<el-table-column prop="ObjectId" label="对象Id" width="149">
					</el-table-column>
					<!-- <el-table-column prop="Note" label="操作说明">
					</el-table-column> -->
					<el-table-column prop="Note" label="操作说明">
						<template slot-scope="scope">
							<ul>
								<li v-for="item in scope.row.Note.split('\n')" style="list-style: none;">
									{{item}}
								</li>
							</ul>
						</template>
					</el-table-column>
				</el-table>
				<el-pagination background layout="prev,pager,next" :total="count" @current-change='currentChange'></el-pagination>
			</div>
		</el-row>
		<el-dialog title="自定义扫楼时间段" :visible.sync="dialogFormVisible" style="width:1050px">
			<el-form>
				<el-form-item label="扫楼时间" :label-width="formLabelWidth">
					<el-date-picker v-model="customDate" type="daterange" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']">
					</el-date-picker>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="dialogFormVisible = false;customDate=[];">取 消</el-button>
				<el-button type="primary" @click="dialogFormVisible = false;search();">确 定</el-button>
			</div>
		</el-dialog>
	</div>
	<script>
		//深拷贝
		function shallowCopy(src) {
			var dst = {};
			for (var prop in src) {
				if (src.hasOwnProperty(prop)) {
					dst[prop] = src[prop];
				}
			}
			return dst;
		}
		/*
		 * 全属性搜索
		 */
		function searchAllValue(data, key) {
			for (var prop in data) {
				if (data[prop].indexOf(key) > -1) {
					return true;
				}
			}
			return false;
		}

		function formatDate(date) {
			return moment(date).format('YYYY-MM-DD HH:mm:ss');
		}

		var app = new Vue({
			el: "#app",
			data: {
				projId: '', //项目id
				loginUserId: '', //登录用户的Id
				baseUrl: config.baseUrl,
				tableData: [],
				showData: [],
				customDate: [],
				//					showCustomDate: this.showDate(),
				keyword: '',
				elTopBtn: 0,
				count:10,
				dialogFormVisible: false,
				formLabelWidth: '120px',
				startDate: formatDate(),
				endDate: formatDate()
			},
			mounted: function () {
				this.initData();
				this.getLogs();
			},
			methods: {
				initData: function () {
					this.projId = GetQueryString('projId') || 'Pj1101080001';
					this.loginUserId = GetQueryString('userId') || 'revit';
				},
				showDate: function () {
					if (this.customDate == undefined || this.customDate.length == 0)
						return undefined;
					else {
						// var reg = /\d{4}-\d{2}-\d{2}/;
						// return '  (' + reg.exec(this.customDate[0].toISOString())[0] + '~' + reg.exec(this.customDate[1].toISOString())[
						// 0] + ')';
						return '  (' + formatDate(this.customDate[0]) + '~' + formatDate(this.customDate[1]) + ')';
					}
				},
				// 获取用户列表
				getLogs: function (pageNum) {
					pageNum = pageNum || 1;
					var that = this;
					var data = {
						"Comming": "revit",
						"PageNum": pageNum,
						"PageSize": 10,
						"ProjId": this.projId,
						"UserId": this.loginUserId,
						"BeginTime": this.startDate,
						"EndTime": this.endDate,
					};
					if (this.keyword) {
						data.Filter = this.keyword;
					}

					axios.post(that.baseUrl + 'service/user_log/query', data)
						.then(function (res) {
							//console.log(res.data.UserList);
							var data = res.data.LogList;
							that.count=res.data.Count;
							that.showData = data;
							that.tableData = data;
						})
						.catch(function (error) {
							console.log(error);
						})
				},
				currentChange: function (val) {
					this.getLogs(val);
					console.log(val);
				},
				exportData: function () {
					//创建一个blob对象,file的一种
					axios({
							method: 'post',
							url: this.baseUrl + 'service/user_log/export',
							data: {
								"Comming": "revit",
								"ProjId": this.projId,
								"UserId": this.loginUserId,
								"BeginTime": this.startDate,
								"EndTime": this.endDate
							},
							responseType: 'blob'
						})
						.then(function (res) {
							var blob = new Blob([res.data], {
								type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8'
							});
							var fileName = res.headers['content-disposition'];
							if (fileName)
								fileName = fileName.substring(fileName.indexOf('=') + 1);
							if ('download' in document.createElement('a')) { // 非IE下载
								const elink = document.createElement('a')
								elink.download = fileName
								elink.style.display = 'none'
								elink.href = URL.createObjectURL(blob)
								document.body.appendChild(elink)
								elink.click()
								URL.revokeObjectURL(elink.href) // 释放URL 对象
								document.body.removeChild(elink)
							} else { // IE10+下载
								navigator.msSaveBlob(blob, fileName)
							}
						})
						.catch(function (err) {
							console.dirxml(err);
						})

				},
				search: function (day) {
					var startTime = new Date();
					var endTime = new Date();
					if (day) {
						this.elTopBtn = day;
						startTime.setDate(startTime.getDate() - day);
						if (day == 1) {
							endTime = startTime;
						}
						this.customDate = [];
					} else { //自定义时间
						if (day == 0) {
							this.elTopBtn = 0;
						} else {
							this.elTopBtn = 5;
						}

						//dialogFormVisible = true;
						startTime = this.customDate[0];
						endTime = this.customDate[1];
					}

					this.startDate = formatDate(startTime);
					this.endDate = formatDate(endTime);

					this.getLogs();
				},
				selectChange: function (selection, rowData) {
					console.log(selection, rowData);
				},
				keyChange: function () {
					let _this = this;
					if (this.keyword) {
						this.tableData = this.showData.filter(function (item) {
							return searchAllValue(item, _this.keyword)
						});
					} else {
						this.tableData = this.showData;
					}
				},
			}
		})
	</script>

</body>

</html>